# WARNING : PUPPET MANAGED FILE

# this config needs haproxy-1.1.28 or haproxy-1.2.1

global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
	#log loghost	local0 info
	maxconn 4096
	#chroot /usr/share/haproxy
	user haproxy
	group haproxy
	daemon
	#debug
	#quiet

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	retries	3
	option redispatch
	maxconn	2000
	contimeout	5000
	clitimeout	50000
	srvtimeout	50000
	option	httpclose		# disable keep-alive
	option  checkcache		# block response if set-cookie & cacheable

	
	#errorloc	502	http://192.168.114.58/error502.html
	#errorfile	503	/etc/haproxy/errors/503.http
	errorfile	400	/etc/haproxy/errors/400.http
	errorfile	403	/etc/haproxy/errors/403.http
	errorfile	408	/etc/haproxy/errors/408.http
	errorfile	500	/etc/haproxy/errors/500.http
	errorfile	502	/etc/haproxy/errors/502.http
	errorfile	503	/etc/haproxy/errors/503.http
	errorfile	504	/etc/haproxy/errors/504.http

frontend http-in
	bind *:80
	default_backend http-out

backend http-out
        server web-c71bfcb7-b024-4686-ada0-521298f5e47d 192.168.170.6:80
        server web-980ef085-0e11-4047-a661-665c2f3a73b7 192.168.170.5:80

listen stats
	bind *:1234
	stats enable
